<a href="https://colab.research.google.com/github/b2210320/primnnew/blob/main/2%E5%B9%B4%E8%A3%9C%E4%BF%AE%E6%95%99%E6%9D%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = "Chitose"
number = "b1998040"
age = 25 

print(type(name))
print(type(number))
print(type(age))

name = "Chitose"
number = "b1998040"
age = 25

print(type(name))
print(type(number))
print(type(age))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>

In [ ]:
student_number = 2210320
print("b"+str(student_number)+"伊原正悟")
print("b",end="")
print(student_number,end="")
print("伊原正悟")
print(f"b{student_number}伊原正悟")

b2210320伊原正悟
b2210320伊原正悟
b2210320伊原正悟

In [ ]:
import random
a = random.randrange(10,2800,10)
print("b"+str(a+2220000)+"伊原正悟")

b2220190伊原正悟

In [ ]:
name = "Chitose"
age = 25

print(f"{name}さんの年齢は {age}歳 です ")
print(f"4年後は {age+4}歳 です")

print(f"{name}さんは{age}歳です")
print(f"4年後は{age+4}歳です")

Chitoseさんの年齢は 25歳 です
4年後は 29歳 です
Chitoseさんは25歳です
4年後は29歳です

In [ ]:
name = "Chitose"

print("年齢を入力してください")
age = input()  # 入力するよう促されます

print(f"{name}さんの年齢は {age}歳 です ")
print(f"4年後は {int(age)+4}歳 です")

age = input()

print(f"{name}さんの年齢は{age}歳です")
print(f"2年後は{int(age)+2}歳です")

年齢を入力してください
1
Chitoseさんの年齢は 1歳 です
4年後は 5歳 です
2
Chitoseさんの年齢は2歳です
2年後は4歳です

In [ ]:
n = int(input('ピラミッドの段数を入力してください。'))
for i in range(1, n+1):
    print(' ' * (n-i) + '*' * (2*i-1))

ピラミッドの段数を入力してください。4
   *
  ***
 *****
*******

In [ ]:
n = int(input("中央までの段数を入力してください"))  # ひし形の幅
for i in range(1, n+1): #ひし形の上半分を出力する
    for j in range(1, n-i+1): #ひし形の左側に空白を入れるためnからiを引いた数だけ空白を出力
        print(" ", end="")
    for k in range(1, i+1): #ひし形の初段から半分の段までにピラミッド型アスタリスクが左側に並ぶ
        print("*", end="")
    for l in range(i-1, 0, -1): #2つ目のforループで出力したアスタリスクのうち、最後の1つを除くアスタリスクを逆順に出力する、右側にピラミッド型アスタリスクが並ぶ
        print("*", end="")
    print()

for i in range(n-1, 0, -1): #ひし形の下半分を出力する
   for j in range(1, n-i+1):
       print(" ", end="")
   for k in range(1, i+1):
       print("*", end="")
   for l in range(i-1, 0, -1):
       print("*", end="")
   print()

中央までの段数を入力してください3
  *
 ***
*****
 ***
  *

In [ ]:
n = int(input("ひし形のサイズを入力してください: "))
for i in range(1,n):
    for j in range(1,n-i+1): #frange文は(初めの数,最後の数+1,前の数と次の数の間の数)
      print(" " , end="")  
    for j in range(1,2*i,1):
      print("1", end="")
    for j in range(1,2*n-2*i,1): 
      print(" ", end="")
    for j in range(1,2*i,1):
      print("2", end="")  
    for j in range(1,n-i+1,1):
      print(" ", end="")
    print()                  #区切りの数
    
for i in range(1,4*n-2,1):    
      print("3", end="")
print()      
  
for i in range(n-1,0,-1):
    for j in range(1,n-i+1,1):
      print(" ", end="")
    for j in range(1,2*i,1):
      print("4", end="")
    for j in range(1,2*n-2*i,1):
      print(" ", end="")
    for j in range(1,2*i,1):
      print("5", end="")  
    for j in range(1,n-i+1,1):
      print(" ", end="")  
    print()

ひし形のサイズを入力してください: 4
   1     2
  111   222
 11111 22222
3333333333333
 44444 55555
  444   555
   4     5

In [ ]:
n = int(input("ひし形のサイズを入力してください: "))
for i in range(1,n):
    for j in range(1,n-i+1): #frange文は(初めの数,最後の数+1,前の数と次の数の間の数)
      print(" " , end="")  
    for j in range(1,2*i,1):
      print("1", end="")
    for j in range(1,2*n-2*i,1): 
      print(" ", end="")
    for j in range(1,2*i,1):
      print("2", end="")  
    for j in range(1,n-i+1,1):
      print(" ", end="")
    print()                  #区切りの数
    
for i in range(1,4*n-2,1):    
      print("3", end="")
print()      
  
for i in range(n-1,0,-1):
    for j in range(1,n-i+1,1):
      print(" ", end="")
    for j in range(1,2*i,1):
      print("4", end="")
    for j in range(1,2*n-2*i,1):
      print(" ", end="")
    for j in range(1,2*i,1):
      print("5", end="")  
    for j in range(1,n-i+1,1):
      print(" ", end="")  
    print()

for i in range(2,n):
    for j in range(1,n-i+1): #frange文は(初めの数,最後の数+1,前の数と次の数の間の数)
      print(" " , end="")  
    for j in range(1,2*i,1):
      print("6", end="")
    for j in range(1,2*n-2*i,1): 
      print(" ", end="")
    for j in range(1,2*i,1):
      print("7", end="")  
    for j in range(1,n-i+1,1):
      print(" ", end="")
    print()                  #区切りの数
    
for i in range(1,4*n-2,1):    
      print("8", end="")
print()      
  
for i in range(n-1,0,-1):
    for j in range(1,n-i+1,1):
      print(" ", end="")
    for j in range(1,2*i,1):
      print("9", end="")
    for j in range(1,2*n-2*i,1):
      print(" ", end="")
    for j in range(1,2*i,1):
      print("0", end="")  
    for j in range(1,n-i+1,1):
      print(" ", end="")  
    print()

ひし形のサイズを入力してください: 4
   1     2
  111   222
 11111 22222
3333333333333
 44444 55555
  444   555
   4     5
  666   777
 66666 77777
8888888888888
 99999 00000
  999   000
   9     0

In [ ]:
# datetimeモジュールのdatetimeクラスを取り込む
from datetime import datetime
# 地名に"東京"を指定するためにインポート
from pytz import timezone
# 東京の時間を取得
today = datetime.now(timezone("Asia/Tokyo"))
if today.hour >=3 and today.hour <10 :
  print("おはよう")
elif today.hour >=10 and today.hour <18 :
  print("こんにちは")
elif today.hour >=18 and today.hour <22 :
  print("こんばんは")
elif today.hour >=22 and today.hour <3 :
  print("おやすみ")
else :
  print("zzzz")

こんにちは

In [ ]:
# datetimeモジュールのdatetimeクラスを取り込む
from datetime import datetime
# 地名に"東京"を指定するためにインポート
from pytz import timezone
# 東京の時間を取得
today = datetime.now(timezone("Asia/Tokyo"))
if today.month >=3 and today.month <6 :
  print("春です！")
elif today.month >=6 and today.month <9 :
  print("夏です！")
elif today.month >=9 and today.month <12 :
  print("秋です！")
elif today.month ==12 or today.month <3 :
  print("冬です！")
else :
  print("zzzz")

春です！

In [ ]:
birth_year = int(input("誕生年:"))
birth_month = int(input("誕生月:"))
birth_day = int(input("誕生の日:"))

birth = datetime(year=birth_year , month=birth_month , day=birth_day)  # 新しく生成
birth = birth.astimezone(timezone("Asia/Tokyo"))  # 比較する関係で必要
today = datetime.now(timezone("Asia/Tokyo"))
age = (today.year - birth_year)
print("{}歳です".format(age))

誕生年:1998
誕生月:4
誕生の日:1
25歳です

In [ ]:
import random
list = []
for i in range(1,6):
  num = 2220000 + random.randrange(10,2810,10)
  num2 = "b" + str(num)
  list.append(num2) 
print(list)

['b2221880', 'b2220970', 'b2220900', 'b2220760', 'b2221320']

In [ ]:
import random
list1 = []
list2 = []
list3 = []
for i in range(1,6):
  num1 =  random.randrange(1,10)
  num2 =  random.randrange(1,10)
  list1.append(num1)
  list2.append(num2)
  num3 = num1 + num2 
  list3.append(num3)
print(list1)
print(list2) 
print(list3)

[9, 6, 9, 2, 3]
[2, 6, 1, 8, 9]
[11, 12, 10, 10, 12]

In [ ]:
import random
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

random.shuffle(todohuken_list) #初めにリストをランダムにする
sublists = []
for i in range(0, len(todohuken_list), 4) :
  sublists = [todohuken_list[i:i+4] ] #新しいリストに古いリストを4つずつだしてそれを分割する

print(sublists)

[['広島県', '千葉県', '秋田県', '兵庫県'], ['奈良県', '熊本県', '和歌山県', '高知県'], ['鹿児島県', '富山県', '神奈川県', '山形県'], ['宮城県', '滋賀県', '岐阜県', '宮崎県'], ['島根県', '岩手県', '福岡県', '鳥取県'], ['茨城県', '長野県', '三重県', '東京都'], ['佐賀県', '山口県', '北海道', '埼玉県'], ['愛知県', '福井県', '岡山県', '徳島県'], ['山梨県', '愛媛県', '沖縄県', '青森県'], ['群馬県', '栃木県', '福島県', '石川県'], ['静岡県', '京都府', '大分県', '新潟県'], ['長崎県', '大阪府', '香川県']]

In [ ]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]
university_list.split(",")[1]

print(university_list)
new_list = sorted(university_list, key=age)
print(new_list)

AttributeError: ignored

In [ ]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

sorted_list = sorted(university_list, key=lambda x: int(x.split(",")[1])) #lambdaは定義なしで作る関数

print(sorted_list)

['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

In [ ]:
N = int(input("数字を入力してください"))
for i in range(1,N+1,1) :
 if i == N :
   print(i)
 else :
   print(f"{i},",end="")  

FizzBuzz = N//15
Fizz = (N//3) - FizzBuzz
Buzz = N//5 - FizzBuzz
others = N-(FizzBuzz+Fizz+Buzz)
print(f"FizzBuzzの数：{FizzBuzz}") 
print(f"Fizzの数：{Fizz}") 
print(f"Buzzの数：{Buzz}")
print(f"othersの数：{others}")

数字を入力してください100
1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100
FizzBuzzの数：6
Fizzの数：27
Buzzの数：14
othersの数：53

In [ ]:
import string




text = """PPAP
I have a pen.
I have an apple.
Apple pen！
I have a pen.
I have a pineapple.
Pineapple pen！
Apple pen.
Pineapple pen.
Pen-pineapple-Apple-pen！"""


# 特殊文字を除去する
test = text.translate(str.maketrans('', '', string.punctuation))

# "！"を空文字に置き換える
text = text.replace('！', '')
# "-"を空白に置き換える
text = text.replace('-', ' ')
# 特殊文字を除去する
text = text.translate(str.maketrans('', '', string.punctuation))

# 単語を小文字に変換し、「改行・空白」で文字列を分割する
text = text.lower().split()

sorted_dic = word_count(text)
print(sorted_dic)

NameError: ignored